@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

:root {
  font-size: 17px;
  --background-primary: 227, 242, 253;
  --background-dark: 20, 32, 67;
  --background-secondary: 78, 95, 117;
  --background-accent: 203, 18, 34;
  --fontcolor-main: #0a2472;
  --fontcolor-secondary: #1565c0;
  --fontcolor-accent: #cb1222;
  --fontcolor-dark-main: #e3f2fd;
  --fontcolor-dark-secondary: #1565c0;
  --main-transition: all .1s ease-in-out;
  --box-shadow1: rgba(0, 0, 0, 0.4) 3px 3px 8px;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.4;
  background-color: rgb(var(--background-primary));
  color: var(--fontcolor-main);
  overscroll-behavior-y: none;
}

.fixed-position {
  overflow: hidden;
}

.master-container {
  max-width: 2400px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 25px;
  z-index: 5;
}

.nav-container.no-background {
  background-color: rgba(var(--background-primary), 0);
}

.nav-container.nav-shadow {
  background-color: rgba(var(--background-primary), 0.9);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.main-nav {
  display: none;
}

.nav-logo {
  height: 50px;
}

.mobile-nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .9);
  text-transform: uppercase;
  width: 100%; 
  overflow-y: scroll;
  overflow: hidden;
  z-index: 9;
  left: 0;
  opacity: .7;
  height: 50vh;
  top: -100vh;
  transition: all 0.4s linear;
}

.show-mobile-nav {
  opacity: 1;
  top: 0;
  height: 100vh;
}

.dark-mode-toggle {
  margin-left: 25px;
  border: 1.5px solid;
  border-radius: 7px;
  padding: 2px 8px;
  cursor: pointer;
  transition: color .2s ease-out;
}

.dark-mode-toggle:hover {
  color: var(--fontcolor-accent);
}

.hamburger {
  position: relative;
  z-index: 100;
}

.burger-lines {
  background-color: rgb(var(--background-secondary));
  height: 3px;
  width: 35px;
  margin-bottom: 7px;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.animate-burger:nth-child(1) {
  transform: rotate(45deg) translate(9px, 6px);
}

.animate-burger:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}

.animate-burger:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -6px);
}

.mobile-nav-link {
  color: var(--fontcolor-main);
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.email {
  display: none;
}

.socials-mobile {
  display: flex;
  justify-content: center;
  widows: 100%;
}

.socials-desktop {
  display: none;
}

.social-link img {
  -webkit-filter: invert(7%) sepia(76%) saturate(5623%) hue-rotate(231deg) brightness(90%) contrast(95%);
  filter: invert(7%) sepia(76%) saturate(5623%) hue-rotate(231deg) brightness(90%) contrast(95%);
  height: 25px;
  width: 25px;
  margin: 10px 22px;
  cursor: pointer;
  transition: all .2s ease;
}

.social-link img:hover {
  transform: scale(1.2);
}

.greeting-message {
  position: absolute;
  top: calc(50% - 200px);
}

.intro-greeting {
  font-size: 7vw;
  line-height: 1.1;
  overflow: hidden;
  color: var(--fontcolor-secondary);
}

.name {
  display: flex;
  font-size: 11vw;
  overflow: hidden;
  color: var(--fontcolor-main);
  cursor: pointer;
}

.pulse {
  transform: scale(1);
	animation: pulse 1s infinite;
  display: inline-block;
  cursor: pointer;
  margin-right: 12px;
  color: var(--fontcolor-main);
  overflow: hidden;
  transition: color .2s ease-out;
}
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.04);
  }
  100% {
      transform: scale(1);
  }
}

.pulse:hover {
  color: var(--fontcolor-accent);
}

.intro-text-container {
  max-width: 600px;
}

.intro-text:last-of-type {
  max-width: 500px;
  margin-bottom: 60px;
}

.paragraph-text {
  padding: 5px 0;
  margin: 15px 0;
}


.contact-btn {
  color: var(--fontcolor-secondary);
  border: 2px solid var(--fontcolor-secondary);
  padding: 15px 60px;
  border-radius: 4px;
}

.section-container {
  margin-top: 8rem;
}

.intro {
  position: relative;
  padding-top: 100px;
  height: 100vh;
  max-height: 1400px;
}

.about {
  margin-top: 0;
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.title-decoration {
  height: 1px;
  background-color: var(--fontcolor-main);
}

.tech-stack {
  display: flex;
  justify-content: center;
  width: 100%;
}

.stack-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 70%;
  max-width: 540px;
  justify-items: center;
  margin: 40px 30px 0; 
  text-align: center;
}

.stack-logos img {
  height: 60px;
  filter: invert(11%) sepia(60%) saturate(4475%) hue-rotate(222deg) brightness(81%) contrast(97%);
}

.projects {
  margin-top: 50px;
}

.project-card-desktop {
  display: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  background-size: cover;
  position: relative;
  border-radius: 4px;
  box-shadow: var(--box-shadow1);
  padding: 15px;
  margin-bottom: 30px;
}

.project-card:before {
  content: "";
  position: absolute;
  border-radius: 4px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(var(--background-primary), 0.8);
}

.project-title {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 15px;
  z-index: 1;
}

.project-desc {
  font-size: .9rem;
  font-weight: 600;
}

.proj-tech-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px 35px;
  font-size: .8rem;
  font-weight: 800;
  background-color: var(--fontcolor-main);
  color: transparent;
  text-shadow: 2px 2px 3px rgba(205, 205, 205, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.project-tech {
  margin-right: 12px;
}

.btn-container {
  margin-top: auto;
}

.project-btn {
  width: 50%;
  padding: 10px 25px;
  color: rgb(var(--background-primary));
  background-color: var(--fontcolor-main);
  border-radius: 4px;
  border: none;
  margin-top: auto;
  margin-right: 10px;
  cursor: pointer;
  transition: all .2s ease-out;
}

.project-btn:hover {
  background-color: var(--fontcolor-secondary);
}

.contact-info {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-text {
  margin: 50px 20px;
  max-width: 600px;
}

.call-me-img {
  position: absolute;
  right: -70px;
  bottom: 100px;
  width: 200px;
  height: auto;
  transform: rotate(-50deg) ;
}

.footer {
  font-size: .7rem;
  text-align: center;
  color: var(--fontcolor-main)
}

/*****
  Dark Mode Styles
*****/

#dark-mode .main-container {
  background-color: rgb(var(--background-dark));
  color: var(--fontcolor-dark-main)
}

#dark-mode .nav-container {
  background-color: rgba(var(--background-dark), 0.9);
}

#dark-mode .nav-container.nav-container.no-background {
  background-color: rgba(var(--background-dark), 0);
}

#dark-mode .nav-container .mobile-nav .mobile-nav-link {
  color: var(--fontcolor-dark-main);
}

#dark-mode .nav-container .main-nav .nav-link {
  color: var(--fontcolor-secondary);
}

#dark-mode .nav-container .main-nav .dark-mode-toggle {
  color: var(--fontcolor-secondary);
}

#dark-mode .nav-container .main-nav .dark-mode-toggle:hover {
  color: var(--fontcolor-dark-main);
}

#dark-mode .mobile-nav .mobile-nav-container {
  background-color: rgba(var(--background-dark), 0.9);
}

#dark-mode .burger-lines {
  background-color: rgb(var(--background-primary));
}

#dark-mode .social-link img {
  -webkit-filter: invert(84%) sepia(5%) saturate(1240%) hue-rotate(186deg) brightness(112%) contrast(98%);
  filter: invert(84%) sepia(5%) saturate(1240%) hue-rotate(186deg) brightness(112%) contrast(98%);
}

#dark-mode .tech-stack .stack-logos img {
  filter: invert(84%) sepia(5%) saturate(1240%) hue-rotate(186deg) brightness(112%) contrast(98%);
}

#dark-mode .intro-greeting {
  color: var(--fontcolor-dark-secondary);
}

#dark-mode .name {
  color: var(--fontcolor-dark-main)
}

#dark-mode .pulse {
  color: var(--fontcolor-dark-main);
}

#dark-mode .pulse:hover {
  color: var(--fontcolor-accent);
}

#dark-mode .title-decoration {
  background-color: var(--fontcolor-dark-main);
}

#dark-mode .stack-logos img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(200deg) brightness(100%) contrast(100%);
}

#dark-mode .project-card {
  box-shadow: var(--box-shadow1);
}

#dark-mode .project-card:before {
  background: rgba(var(--background-dark), 0.7);
}

#dark-mode .proj-tech-list {
  background-color: var(--fontcolor-secondary);
  text-shadow: 2px 2px 3px rgba(205, 205, 205, 0.5);
}

#dark-mode .project-btn {
  color: rgb(var(--background-dark));
  background-color: var(--fontcolor-dark-main);
  cursor: pointer;
}

#dark-mode .project-btn:hover {
  color: var(--fontcolor-dark-main);
  background-color: var(--fontcolor-dark-secondary);
}

#dark-mode .contact-btn {
  color: var(--fontcolor-dark-main);
  border: 2px solid var(--fontcolor-dark-main);
}

@media screen and (min-width: 600px) {
  .main-content {
    width: 80%;
    max-width: 1000px;
  }

  .paragraph-text {
    max-width: 800px;
  }

  .contact-btn {
    background-image: linear-gradient(var(--fontcolor-secondary), var(--fontcolor-secondary));
    background-position: 0 101%;
    background-size: 0% 55px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s;
  }
  
  .contact-btn:hover {
    color: rgb(var(--background-primary));
    background-position: 100% 100%;
    background-size: 100% 55px;
    cursor: pointer;
  }

  #dark-mode .contact-btn {
    color: var(--fontcolor-dark-main);
    border: 2px solid var(--fontcolor-dark-main);
    background-image: linear-gradient(var(--fontcolor-dark-main), var(--fontcolor-dark-main));

  }
  
  #dark-mode .contact-btn:hover {
    color: rgb(var(--background-dark));
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 2400px;
  }

  .fixed-position {
    overflow:scroll;
  }

  .mobile-nav {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    text-transform: uppercase;
    font-size: .85rem;
  }

  .nav-link {
    position: relative;
    color: var(--fontcolor-main);
    margin-left: 3rem;
  }

  .nav-link {
    text-decoration: none;
    color: var(--fontcolor-main);
    margin-left: 25px;
    padding-bottom: 3px;
    background-image: linear-gradient(var(--fontcolor-accent), var(--fontcolor-accent));
    background-position: 0 100%;
    background-size: 0% 1.5px;
    background-repeat: no-repeat;
    transition:
      background-size 0.2s,
      background-position 0s 0.2s;
  }

  .nav-link:hover {
    color: var(--fontcolor-accent);
    background-position: 100% 100%;
    background-size: 100% 1.5px;
  }

  #dark-mode .nav-container .main-nav .nav-link {
    background-image: linear-gradient(var(--fontcolor-dark-main), var(--fontcolor-dark-main));
  }

  #dark-mode .nav-container .main-nav .nav-link:hover {
    color: var(--fontcolor-dark-main);
    background-position: 100% 100%;
    background-size: 100% 1.5px;
  }

  .socials-mobile {
    display: none;
  }
  
  .socials-desktop {
    display: block;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: calc(50% - 200px);
    right: 10px;
    height: 400px;
    z-index: 10;
  }

  .email {
    display: block;
    position:fixed;
    left: -70px;
    top: calc(50%);
    transform: rotate(90deg);
    padding: 5px 10px 8px;
    background-color: var(--fontcolor-main);
    font-size: .8rem;
    color: rgb(var(--background-primary));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 10;
    cursor: pointer;
  }

  #dark-mode .email {
    background-color: var(--fontcolor-dark-main);
    color: rgb(var(--background-dark));
  }

  .intro-greeting {
    font-size: 3rem;
  }
  
  .name {
    font-size: 5rem;
  }

  .about-content {
    width: 80%;
    margin: 0 auto;
  }

  #dark-mode .proj-tech-list {
    text-shadow: 1px 1px 1px rgba(70, 70, 70, 0.4);
  }

  .project-card.mobile {
    display: none;
  }

  .project-card {
    display: block;
    position: absolute;
    width: 50%;
    right: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 0;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
  }

  .project-card-desktop {
    display: flex;
    align-items: center;
    position: relative;
    height: 300px;
    margin-bottom: 100px;
  }
  
  .project-card:before {
    content: "";
    position: absolute;
    border-radius: 4px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(var(--background-primary), 0.8);
  }

  .project-card:hover:before {
    cursor: pointer;
  }

  .project-info {
    position: absolute;
    background-color: rgba(var(--background-primary), .6);
    box-shadow: var(--box-shadow1);
    width: 65%;
    min-height: auto;
    padding: 15px;
  }

  .proj-tech-list {
    margin-bottom: 0;
  }

  .btn-container {
    position: absolute;
    bottom: 8px;
  }
}

/*# sourceMappingURL=style.css.map */