@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

:root {
  --background-primary: 255, 255, 255;
  --background-secondary: 78, 95, 117;
  --background-accent: 202, 42, 40;
  --fontcolor-main: #4E5F75;
  --fontcolor-secondary: #fff;
  --fontcolor-accent: #ca2a28;
  --main-transition: all .1s ease-in-out;
  --box-shadow1: rgba(0, 0, 0, 0.4) 6px 8px 8px;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  line-height: 1.4;
  background-color: var(--background-primary);
  color: var(--fontcolor-main);
}

.fixed-position {
  overflow: hidden;
}

.main-container {
  position: relative;
  padding: 20px;
}

.nav-container {
  background-color: rgba(var(--background-primary), 0.9);
}

.nav-shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.main-nav {
  display: none;
}

.nav-logo {
  height: 50px;
}

.mobile-nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .9);
  text-transform: uppercase;
  width: 100%; 
  overflow-y: scroll;
  overflow: hidden;
  z-index: 9;
  left: 0;
  opacity: .7;
  height: 50vh;
  top: -100vh;
  transition: all 0.4s linear;
}

.show-mobile-nav {
  opacity: 1;

  top: 0;
  height: 100vh;
}

.hamburger {
  position: relative;
  z-index: 100;
}


.burger-lines {
  background-color: rgb(var(--background-secondary));
  height: 3px;
  width: 35px;
  margin-bottom: 7px;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.animate-burger:nth-child(1) {
  transform: rotate(45deg) translate(9px, 6px);
}

.animate-burger:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}

.animate-burger:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -6px);
}


.mobile-nav-link {
  color: var(--fontcolor-main);
  font-size: 24px;
  margin-bottom: 30px;
}

.socials-mobile {
  display: flex;
  width: 100%;
  justify-content: center;
}

.socials-desktop {
  display: none;
}

.arrow-container {
  display: none;
}

.greeting-container {
  margin-top: 120px;
}

.intro-greeting {
  font-size: 2.2em;
  line-height: 1.1;
  overflow: hidden;
  color: var(--fontcolor-accent);
}

.name {
  display: flex;
  font-size: 1.9em;
  overflow: hidden;
  color: var(--fontcolor-main);
}

.pulse {
  transform: scale(1);
	animation: pulse 1.5s infinite;
  display: inline-block;
  cursor: pointer;
  margin-right: 12px;
  color: var(--fontcolor-main);
  overflow: hidden;
}
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.04);
  }
  100% {
      transform: scale(1);
  }
}

.pulse:hover {
  color: var(--fontcolor-accent);
}

.paragraph-text {
  padding: 5px 0;
  font-size: 1.1em;
  width: 350px;
  margin: 15px 0;
}

.intro-text:last-of-type {
  margin-bottom: 60px;
}

.contact-btn-mobile {
  color: var(--fontcolor-accent);
  color: var(--fontcolor-accent);
  border: 2px solid var(--fontcolor-accent);
  padding: 15px 60px;
  border-radius: 4px;
}

/* .design-container {
  position: absolute;
  top: 100px;
  right: -50px;
  height: 400px;
  width: 300px;
  background-image: url(./imgs/red_dots.png);
  background-repeat: no-repeat;
  background-size: cover;
} */

.section-container {
  margin-top: 8rem;
}

.intro {
  padding-top: 100px;
}

.about {
  margin-top: 0;
}

.section-title {
  font-size: 2em;
  margin-bottom: 2rem;
}

.title-decoration {
  height: 1px;
  width: 95%;
  background-color: var(--fontcolor-main);
}

.intro {
  min-height: 100vh;
}

.stack-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin: 40px 30px 0; 
  text-align: center;
}

.stack-logos img {
  height: 60px;
  filter: invert(37%) sepia(23%) saturate(525%) hue-rotate(174deg) brightness(90%) contrast(88%);
}

.projects {
  margin-top: 50px;
}

.project-card {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  background-image: url(../imgs/project_placeholder.jpg);
  background-size: cover;
  position: relative;
  border-radius: 4px;
  z-index: -1;
  box-shadow: var(--box-shadow1);
  padding: 15px;
  margin-bottom: 30px;
}

.project-card:before {
  content: "";
  position: absolute;
  border-radius: 4px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(var(--background-primary), 0.8);
  z-index: -1;
}

.project-title {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: auto;
}

.project-desc {
  font-size: 1.1em;
  font-weight: 600;
}

.proj-tech-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px 35px;
  font-size: .8rem;
  font-weight: 800;
  background-color: var(--fontcolor-main);
  color: transparent;
  text-shadow: 2px 2px 3px rgba(205, 205, 205, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.project-tech {
  margin-right: 12px;
}

.project-btn {
  width: 50%;
  padding: 10px 25px;
  color: var(--fontcolor-secondary);
  background-color: var(--fontcolor-main);
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.contact {
  position: relative;
}

.contact-info {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-text {
  margin: 50px 20px;
  font-size: 1rem;
}

.call-me-img {
  position: absolute;
  right: -70px;
  bottom: 100px;
  width: 200px;
  height: auto;
  transform: rotate(-50deg) ;
}

.contact-btn {
  color: var(--fontcolor-accent);
  border: 2px solid var(--fontcolor-accent);
  padding: 15px 60px;
  border-radius: 4px;
  background-image: linear-gradient(var(--fontcolor-accent), var(--fontcolor-accent));
  background-position: 0 101%;
  background-size: 0% 55px;
  background-repeat: no-repeat;
  transition:
    background-size 0.2s,
    background-position 0s 0.2s;
}

.contact-btn:hover {
  color: var(--fontcolor-secondary);
  background-position: 100% 100%;
  background-size: 100% 55px;
}

.social-link img {
  margin: 7px 20px;
  -webkit-filter: invert(23%) sepia(64%) saturate(3548%) hue-rotate(351deg) brightness(86%) contrast(82%);
          filter: invert(23%) sepia(64%) saturate(3548%) hue-rotate(351deg) brightness(86%) contrast(82%);
  height: 25px;
  width: 25px;

}

.footer {
  font-size: .8rem;
  text-align: center;
  color: #7c7c7c;
}



.email {
  /* position: fixed;
  left: -70px;
  top: 50%;
  transform: rotate(90deg);
  padding: 20px;
  background-color: var(--fontcolor-accent);
  color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; */
}

.wave2-emoji {
  /* width: 12%;
  position: fixed;
  left: -5px;
  top: 28%;
  transform: rotate(30deg); */
}

.socials {
  /* position: fixed;
  display: flex;
  top: 30%;
  right: 20px;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px; */
}


@media screen and (min-width: 768px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .mobile-nav {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    text-transform: uppercase;
  }

  .nav-link {
    position: relative;
    color: var(--fontcolor-main);
    margin-left: 3rem;
  }

  .nav-link {
    text-decoration: none;
    color: var(--fontcolor-main);
    margin-left: 25px;
    padding-bottom: 3px;
    background-image: linear-gradient(var(--fontcolor-accent), var(--fontcolor-accent));
    background-position: 0 100%;
    background-size: 0% 1.5px;
    background-repeat: no-repeat;
    transition:
      background-size 0.2s,
      background-position 0s 0.2s;
  }
  .nav-link:hover {
    color: var(--fontcolor-accent);
    background-position: 100% 100%;
    background-size: 100% 1.5px;
  }

  .hero-img-container {
    /* -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; */
  }
  .tech-stack {
    /* -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3; */
  }
  .about-text {
    /* -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3; */
  }
  .projects-mobile {
    /* display: none; */
  }
  .projects-desktop {
    /* display: flex; */
  }
  .arrow-container {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 120px;
    color: var(--fontcolor-accent); */
  }
  
  .arrow-container .arrow {
    /* margin-top: 5px;
    padding: 10px 0; */
  }
  
  .arrow-container .arrow .arrow-move {
    /* -webkit-animation: slide2 1.5s ease-in-out infinite;
            animation: slide2 1.5s ease-in-out infinite; */
  }
  
  /* @-webkit-keyframes slide2 {
    0%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(90deg);
              transform: translate(0px, 0px) rotate(90deg);
    }
    50% {
      -webkit-transform: translate(0px, 10px) rotate(90deg);
              transform: translate(0px, 10px) rotate(90deg);
    }
  }
  
  @keyframes slide2 {
    0%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(90deg);
              transform: translate(0px, 0px) rotate(90deg);
    }
    50% {
      -webkit-transform: translate(0px, 10px) rotate(90deg);
              transform: translate(0px, 10px) rotate(90deg);
    }
  } */
  
  .arrow-container .name-sound {
    /* font-size: .8rem;
    color: var(--fontcolor-accent);
    padding: 5px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, right top, from(var(--background-accent)), to(var(--background-accent)));
    background: linear-gradient(to right, var(--background-accent), var(--background-accent));
    background-repeat: no-repeat;
    background-size: 0 100%;
    -webkit-transition: all .5s 0s;
    transition: all .5s 0s; */
  }
}
/*# sourceMappingURL=style.css.map */